/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* banner section styles */
.banner-img{
    width: 635px;
    height: 800px;
    margin-top: 50px;
    margin-right: 240px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 850px;
    align-items: center;
    background-color: rgb(229, 84, 115,0.10);   
}
.banner-title{
    color: #272727;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin-top: 197px;
    margin-left: 240px;
}
.banner-description{
    width: 400px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 240px;
    color: rgba(39,39,39,0.60);
    font-size: 18px;font-style: normal;
    font-weight: 400;
}
.btn-primary{
    padding: 20px 43px;
    margin-left: 240px;
    gap: 10px;
    border-radius: 8px;
    background-color: #ffa500;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
/* Flower Section Styles */
.flower-title{
    color: #272727;
    text-align: center;
    font-family: lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}
.flower-description{
    color: rgba(39,39,39,0.60);
    text-align: center;
    font-family: lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px 63px;
}
/* Box Section styles */
.box-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
}
.box-1{
    width: 310px;
    height: 428px;
    background-color: rgb(229, 84, 115,0.10);
    border-radius: 45% 45% 0% 0%; 
}
.box-2{
    width: 310px;
    height: 428px;
    background-color: rgb(173, 216, 230);
    border-radius: 45% 45% 0% 0%;  
}
.box-3{
    width: 310px;
    height: 428px;
    background-color: rgb(211, 211, 211);
    border-radius: 45% 45% 0% 0%; 
}
.flower-text{
    color: #272727;
    text-align: center;
    font-family: lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 32px;
}


